<ion-item *ngIf="type === 'text'" class="custom-input">
  <ion-icon *ngIf="icon" slot="start" [name]="icon" aria-hidden="true"></ion-icon>
  <ion-input [label]="label" [autocomplete]="autocomplete" [type]="type" [formControl]="control"
    labelPlacement="floating" debounce="300"></ion-input>
</ion-item>

<ion-item *ngIf="type === 'textarea'" class="custom-input">
  <ion-textarea [label]="label" labelPlacement="floating" [autoGrow]="true" [formControl]="control"
    debounce="300"></ion-textarea>
</ion-item>

<div *ngIf="type === 'datetime-local'" class="campo-fecha">
  <span class="campo-fecha__etiqueta">Fecha y hora</span>
  <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal class="modal-fecha" [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" [formControl]="control" locale="es-ES" presentation="date-time"
        [showDefaultButtons]="true" doneText="Listo" cancelText="Cancelar"></ion-datetime>
    </ng-template>
  </ion-modal>
</div>
