ion-item {
  transition: border-color 0.3s ease-in-out;
  --border-color: #555555;
  --inner-padding-start: 16px;
  --inner-padding-end: 16px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-datetime {
  --background: #a9f997;
  --background-rgb: 255, 241, 242;

  border-radius: 8px;
  box-shadow: rgba(var(--ion-color-success-rgb), 0.3) 0px 10px 15px -3px;
}
