<app-header backButton="/auth" title="Registro"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <app-custom-input icon="person-outline" autocomplete="name" [control]="form.controls.name" type="text"
        label="Nombre"></app-custom-input>
      <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">El nombre es obligatorio.</div>
        <div *ngIf="form.controls.name.errors?.['minlength']">El nombre debe tener al menos 4 caracteres.</div>
      </div>

      <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email"
        label="Correo"></app-custom-input>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es obligatorio.</div>
        <div *ngIf="form.controls.email.errors?.['email']">El correo es inválido.</div>
      </div>

      <app-custom-input icon="lock-closed-outline" [control]="form.controls.password" type="password"
        label="Contraseña"></app-custom-input>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es obligatoria.</div>
      </div>

      <app-custom-input icon="checkmark-circle-outline" [control]="form.controls.confirmPassword" type="password"
        label="Confirmar Contraseña"></app-custom-input>
      <div class="validators" *ngIf="form.controls.confirmPassword.errors && form.controls.confirmPassword.touched">
        <div *ngIf="form.controls.confirmPassword.errors?.['required']">La confirmación de la contraseña es obligatoria.
        </div>
        <div *ngIf="form.controls.confirmPassword.errors?.['passwordMismatch']">Las contraseñas no coinciden.</div>
      </div>

      <ion-button color="dark" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>