.avatar {
  font-size: 130px;
  margin-top: 60px;
}

ion-button {
  margin-top: 50px;
}

.email {
  font-style: italic;
  font-size: large;
  margin-bottom: 15px;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
}

ion-item {
  --padding-top: 15px;
}
