.item-header {
  --inner-padding-start: 16px;
  --inner-padding-end: 16px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 30px;
  --padding-bottom: 0;

  ion-label {
    font-weight: bolder;
    font-size: 20px;
  }
}

ion-range {
  --bar-background: rgba(128, 128, 128, 0.281);
  --bar-background-active: var(--ion-color-success);
  --height: 20px;
  --knob-size: 5px;
  pointer-events: none;
}

.item-reorder {
  --min-height: 32px;
}

.line-item {
  --border-color: #131313;
  --inner-padding-start: 16px;
  --inner-padding-end: 16px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-checkbox.custom-checkbox::part(container) {
  background-color: white;
  border: 1px solid black;
}

ion-checkbox.custom-checkbox[aria-checked="true"]::part(container) {
  background-color: var(--ion-color-success);
  border: 0px;
}

ion-checkbox.custom-checkbox::part(mark) {
  color: white;
}
